@{
    ViewData["Title"] = "Basic Details";
    @model BasicDetails;
}

<form method="post" action="~/Home/WealthTracker">
    <table class="table table-borderless">
        <thead class="thead-light">
            <tr>
                <th colspan="3">Personal Details</th>
            </tr>
        </thead>
        <tr>
            <th></th>
            <th>Client</th>
            <th>Spouse</th>
        </tr>
        <tr>
            <td><span>Name</span></td>
            <td><input type="text" asp-for="ClientName" required value="Arnel Aves" class="form-control" /></td>
            <td><input type="text" asp-for="SpouseName" required value="Joarren Aves" class="form-control" /></td>
        </tr>
        <tr>
            <td><span>Date of Birth</span></td>
            <td><input type="date" asp-for="ClientDateOfBirth" required value="1990-01-01" class="form-control text-right" /></td>
            <td><input type="date" asp-for="SpouseDateOfBirth" required value="1995-02-02" class="form-control text-right" /></td>
        </tr>
        <thead class="thead-light">
            <tr>
                <th colspan="3">Current Assets</th>
            </tr>
        </thead>
        <tr>
            <th></th>
            <th>Client</th>
            <th>Spouse</th>
        </tr>
        <tr>
            <td><span>Gross Income</span></td>
            <td><input type="number" step=".01" asp-for="ClientGrossIncome" required value="2000.00" class="form-control text-right" /></td>
            <td><input type="number" step=".01" asp-for="SpouseGrossIncome" required value="2000.00" class="form-control text-right" /></td>
        </tr>
        <tr>
            <td><span>Cash Savings</span></td>
            <td><input type="number" step=".01" asp-for="ClientCashSavings" required value="2000.00" class="form-control text-right" /></td>
            <td><input type="number" step=".01" asp-for="SpouseCashSavings" required value="2000.00" class="form-control text-right" /></td>
        </tr>
        <tr>
            <td><span>Kiwi Saver</span></td>
            <td><input type="number" step=".01" asp-for="ClientKiwiSaver" required value="2000.00" class="form-control text-right" /></td>
            <td><input type="number" step=".01" asp-for="SpouseKiwiSaver" required value="2000.00" class="form-control text-right" /></td>
        </tr>
        <tr>
            <td><span>Share / Investments</span></td>
            <td><input type="number" step=".01" asp-for="ClientShareInvestments" required value="2000.00" class="form-control text-right" /></td>
            <td><input type="number" step=".01" asp-for="SpouseShareInvestments" required value="2000.00" class="form-control text-right" /></td>
        </tr>
        <tr>
            <td><span>Property Value</span></td>
            <td><input type="number" step=".01" asp-for="ClientPropertyValue" required value="2000.00" class="form-control text-right" /></td>
            <td></td>
        </tr>
        <tr>
            <td><span>Mortgage</span></td>
            <td><input type="number" step=".01" asp-for="ClientMortgage" required value="2000.00" class="form-control text-right" /></td>
            <td></td>
        </tr>
        <thead class="thead-light">
            <tr>
                <th colspan="3">Click the button below to proceed</th>
            </tr>
        </thead>
        <tr>
            <td colspan="1" class="text-right"></td>
            <td colspan="1" class="text-right"></td>
            <td colspan="1" class="text-right"><input class="form-control ui-button-text" type="submit" name="BtnSubmit" title="Submit" /></td>
        </tr>
    </table>
</form>