@{
    ViewData["Title"] = "Wealth Tracker";

    BasicDetails basicDetails = wealthchecker.Data.WealthTrackerOutputModel.BasicDetails;
}

    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Kiwi Saver</h5>
                    <table class="table">
                        <tr>
                            <td><span>Current KiwiSaver</span></td>
                            <td class="text-right"><span>@wealthchecker.Data.WealthTrackerOutputModel.KiwiSaverAmount.ToString("#,##0.00")</span></td>
                        </tr>
                        <tr>
                            <td><span>KiwiSaver Contributions</span></td>
                            <td class="text-right"><span>@wealthchecker.Data.WealthTrackerOutputModel.KiwiSaverContributions.ToString("#,##0.00")</span></td>
                        </tr>
                        <tr>
                            <td><span>Kiwisaver Growth</span></td>
                            <td class="text-right"><span>6%</span></td>
                        </tr>
                        <tr>
                            <td><span class="text-info">KiwiSaver Total at Retirement</span></td>
                            <td class="text-right"><span class="display-4">@wealthchecker.Data.WealthTrackerOutputModel.KiwiSaverTotalAtRetirement.ToString("#,##0.00")</span></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                   <div id="ChartContainer"></div>
                </div>
            </div>
        </div>
    </div>


